@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@300&family=League+Gothic&family=Nunito+Sans:wght@200&family=Poppins:wght@200&family=Red+Hat+Mono:ital,wght@0,500;1,500&family=Roboto+Mono:wght@300;400&family=Roboto+Serif:ital,wght@0,500;1,400&display=swap');
.container{
  margin: auto;
  width: 85%;
}
.title {
  text-align: center;
  color:#450fa8 ;
  font-family: 'Roboto Mono', monospace;
  font-weight: bold;
  font-size: 3rem;
}
.to-do-form{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border: 1px solid red;
  padding: 30px;

}
.to-do-form form input {
  padding: 10px;
  border-radius: 20px;
}